{% extends "base.html"%}
{%block content%}


<section class="about">
    <h2>About Me</h2>
    <p>Hi, I am Abhishek Singh Chauhan, a passionate and motivated software developer with a strong interest in web development and modern technologies. I enjoy building responsive, user-friendly, and scalable applications that solve real-world problems.

I have experience working with technologies such as Python, Django, JavaScript, React.js, HTML, CSS, and SQL. I am also interested in Artificial Intelligence, Generative AI, and Large Language Models (LLMs) and continuously work on improving my technical skills.

I believe in continuous learning, problem-solving, and writing clean and efficient code. I am always excited to explore new technologies, work on challenging projects, and contribute to meaningful software solutions.

My goal is to grow as a software developer and build innovative applications that create a positive impact.
</p>
</section>
{%endblock%}