<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Jai Shri Mahakal Baba</h1>
    <p>Baba ka sahara</p>
    <p>  {{data.name}}, {{data}},{{data.age}}</p>
     <nav style="background-color:#1f2937; display:flex; justify-content:space-between; align-items:center; padding:15px 50px;">

        <div>
            <a href="#" style="color:white; text-decoration:none; font-size:28px; font-weight:bold;">
                MyWebsite
            </a>
        </div>

        <ul style="list-style:none; display:flex; margin:0; padding:0;">
            <li style="margin-left:25px;">
                <a href="#" style="color:white; text-decoration:none; font-size:18px;">Home</a>
            </li>
            <li style="margin-left:25px;">
                <a href="#" style="color:white; text-decoration:none; font-size:18px;">About</a>
            </li>
            <li style="margin-left:25px;">
                <a href="#" style="color:white; text-decoration:none; font-size:18px;">Services</a>
            </li>
            <li style="margin-left:25px;">
                <a href="#" style="color:white; text-decoration:none; font-size:18px;">Blog</a>
            </li>
            <li style="margin-left:25px;">
                <a href="#" style="color:white; text-decoration:none; font-size:18px;">Contact</a>
            </li>
        </ul>

    </nav>
    
</body>
</html>