{% extends "base.html" %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}
  <h1>Welcome to Home Page</h1>
  <p>This is the home page.</p>
  <img src="{% static 'image/logo2.png' %}" alt="Home Image">
  <form action="POST">
    {%csrf_token %}
    <input type="text" name="username" placeholder="UserName">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">Login</button>
  </form>

  <button onclick="showAlert()">Click ME</button>
{% endblock %}

